<div class='conatiner align-middle grid v-screen place-items-center over min-w-full md:min-w-0 mt-10'>
    <div class="max-w-2xl rounded shadow-2xl bg-gradient-to-r from-gray-700 to-gray-600 flex">
        <div>
            <img src='https://th.bing.com/th/id/OIP.L1nR_3pSUTMMXbrIf4Nz8QHaFj?pid=ImgDet&rs=1' alt='login'
                class='h-[395px]' />
        </div>
        <div class='p-4 mt-5 w-4/5 min-w-full md:min-w-0 max-w-md break-words'>
            <h3 class='text-white px-3'>
                <mat-icon class="p-1 mr-3">exit_to_app</mat-icon>Account Login / Signup
            </h3>
            <div class="mt-8">
                <div
                    class="max-w-sm grid-cols-1 mx-auto text-center divide-y shadow-md conatiner p-2 text-white grid v-screen place-items-center">
                    <p class="lead font-bold p-2">Welcome to newsApp</p>
                    <p class="lead font-bold p-2">! Get instant news with your preference !</p>
                </div>

                <div class="container grid v-screen place-items-center"></div>
                <div class='px-2 mt-10 bottom-8 container grid v-screen place-items-center mb-4'>

                    <a href='/login' routerLink="/login"
                        class="btn bg-white hover:bg-blue-700 hover:text-white text-gray-600 text-xl rounded-lg p-3">
                        Login<mat-icon class="p-1">arrow_right_alt</mat-icon>
                    </a>

                </div>
                <div class='container grid v-screen place-items-center mt-3'>

                    <a href='/signup' routerLink="/signup"
                        class="btn bg-white hover:bg-blue-700 hover:text-white text-gray-600 text-xl rounded-lg p-3">
                        Signup<mat-icon class="p-1">arrow_right_alt</mat-icon>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>